@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');


@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}

html {
    scroll-behavior: smooth;
}

/*=================== HAMBURGUER ===================*/

.hamburguer {
    /*background-color: red;*/
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer {
    right: 16rem;
}

.line {
    width: 100%;
    height: .1rem;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 1px rgba(0, 0, 0, 0.8);
    transition: transform 1s;
}
.show-menu #line1 {
    width: 80%;
    transform: rotate(45deg) translate(.3rem, .28rem); /*Sentido horário // Translate pra mudar a posição, primeira posição x e segunda y*/ 
}
.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}
.show-menu #line3 {
    width: 80%;
    transform: rotate(-45deg) translate(.2rem, -.43rem); /* Sentido anti-horário // Translate pra mudar a posição*/
}

.hamburguer span {
    position: absolute;
    left: 3rem;
    background-color: #a044ff;
    width: 6rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: var(--font-action);
    opacity: 0;
}

.hamburguer span::before {
    content: "";
    position: absolute;
    border-right: .5rem solid #a044ff;
    border-left: .5rem solid transparent;
    border-top: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span {
    opacity: 1;
}

@media (max-width: 950px) {
    .hamburguer {
        /*background-color: red;*/
        width: 1.7rem;
        height: 1.7rem;
    }

    .show-menu #line1 {
        width: 80%;
        transform: rotate(45deg) translate(.2rem, .2rem); 
    }

    .show-menu .hamburguer {
        right: 11rem;
    }
}

/*=================== HEADER ===================*/


header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1 {
    color: white;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, 0.4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}

.banner p {
    font-family: var(--font-secundary);
    color: white;
    font-size: 2rem;
    text-shadow: .2rem .2rem 1px rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

.banner button {
    font-family: var(--font-action);
    background: #6a3093;  
    /* fallback para navegadores antigos */

    background: -webkit-linear-gradient(to left, #c846f0, #6a3093);  
    /* Chrome 10-25, Safari 5.1-6 / versões especificas do chrome que tenha acesso a webkit*/

    background: linear-gradient(to left, #c846f0, #6a3093); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ / pra outras versões que tem acesso ao linear gradient*/

    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
}

.banner button:hover {
    color: rgba(218, 154, 146, 0.89);
    transition: all 0.5s;
}

@keyframes moveBanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg);
    }
    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}


@media (max-width: 950px) {
    .banner {
        position: absolute;
        left: 10%;
        right: 5%;
    }

    .banner h1 {
        font-size: 3.2rem;
    }

    .banner p {
        font-size: 1.7rem;
    }

    .banner button {
        font-size: 0.9rem;
        padding: 1rem 2.5rem;
    }
}

/*=================== SIDEBAR ===================*/

.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 90;
}

.show-menu .sidebar {
    right: 0;
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item {
    text-align: center;
    margin-bottom: .5rem;
}

.menu-link {
    font-family: var(--font-action);
    font-size: 2rem;
    color: rgba(85, 85, 85, 0.719);
    transition: color 1s;
    font-weight: 500;
}

.menu-link:hover {
    color: #6a3093;
}

@media (max-width: 950px) {
    .sidebar {
        width: 15rem;
    }

    .menu-item {
        margin-bottom: .8rem;
    }

    .menu-link {
        font-size: 1.7rem;
    }
}

/*=================== SOCIAL-MEDIA ===================*/


.social-media {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i {
    color: white;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(158, 9, 158);
    font-size: 1.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
}

.social-media i:hover {
    background-color: #ce46f0;
}

@media (max-width: 950px) {
    .social-media i {
        width: 2rem;
        height: 2rem;
        font-size: 1.4rem;
    }
}

/*=================== CONHECIMENTOS ===================*/


.conhecimentos {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 5rem);
    row-gap: 2rem;
}

.conhecimento:nth-child(1) {
    grid-column: 4 / 7;
    grid-row: 1 / 2;
}

.conhecimento:nth-child(2) {
    grid-column: 3 / 6;
    grid-row: 3 / 4;
}

.conhecimento:nth-child(3) {
    grid-column: 4 / 7;
    grid-row: 5 / 6;
}

.conhecimento:nth-child(4) {
    grid-column: 11 / 14;
    grid-row: 1 / 2;
}

.conhecimento:nth-child(5) {
    grid-column: 12 / 15;
    grid-row: 3 / 4;
}

.conhecimento:nth-child(6) {
    grid-column: 11 / 14;
    grid-row: 5 / 6;
}

.sessao-conhecimentos {
    background-color: #f5f5f5bb;
    padding-bottom: 2rem;
}


.sessao-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessao-header h1 {
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #4b4b4b;
    border-bottom: solid 3px #6a3093;
    margin-bottom: 1.6rem;
}

.conhecimento-header {
    display: flex;
    align-items: center;
    color: #4b4b4b;
}

.conhecimento-header i {
    font-size: 2.5rem;
}

.conhecimento-header h3 {
    font-family: var(--font-secundary);
    font-size: 2rem;
    padding-left: 1rem;
}

.conhecimento-text {
    font-family: var(--font-secundary);
    margin-top: 1rem;
}

.conhecimentos-img-wrapper {
    grid-column: 7 / 11;
    grid-row: 2 / 6;
    width: 100%;
}

.conhecimentos-img-wrapper img {
    object-fit: cover;
    width: 100%;
}


@media (max-width: 800px){

    .sessao-header h1{
        font-size: 2.8rem;
    }

    .conhecimentos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .conhecimento {
        max-width: 12rem;
        margin: 0.8rem;
    }

    .conhecimento-header i {
        font-size: 2rem;
    }

    .conhecimento-header h3 {
        font-size: 1.5rem;
        
    }

    .conhecimento-text {
        margin-top: 1rem;
    }

    .conhecimentos-img-wrapper {
        margin-left: 35%;
    }

    .conhecimentos-img-wrapper img {
        max-width: 50%;
    }

}


@media screen and (min-width: 801px) and (max-width: 1130px){
    
    .conhecimento:nth-child(1) {
        grid-column: 4 / 8;
        grid-row: 1 / 2;
    }
    
    .conhecimento:nth-child(2) {
        grid-column: 3 / 7;
        grid-row: 3 / 4;
    }
    
    .conhecimento:nth-child(3) {
        grid-column: 4 / 8;
        grid-row: 5 / 6;
    }
    
    .conhecimento:nth-child(4) {
        grid-column: 11 / 15;
        grid-row: 1 / 2;
    }
    
    .conhecimento:nth-child(5) {
        grid-column: 12 / 16;
        grid-row: 3 / 4;
    }
    
    .conhecimento:nth-child(6) {
        grid-column: 11 / 15;
        grid-row: 5 / 6;

    }

    .conhecimentos {
        row-gap: 2.7rem;
    }

    .sessao-header h1 {
        font-size: 2.8rem;
    }

    .conhecimento-header i {
        font-size: 2.2rem;
    }

    .conhecimento-header h3 {
        font-size: 1.7rem;
    }

    .conhecimentos-img-wrapper img {
        margin-left: 10%;
        margin-top: 15%;
    }

}

/*=================== PROJETOS ===================*/

.sessao-projetos {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.projetos {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 18rem;
    height: 25rem;
    position: relative;
}

.card-img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: .5rem;
}

.card-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    opacity: .8;
    transition: opacity .5s;
}

.card:hover .card-img-wrapper img {
    opacity: .5;
}

.card-info {
    position: absolute;
    bottom: 0;
    padding: 1.6rem;
    text-shadow: .2rem .3rem .3rem rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}

.card-info h2 {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color: #eee;
}

.card-info h3 {
    font-family: var(--font-secundary);
    font-weight: bold;
    color: #ff4081;
    margin-bottom: 1rem;
}

.card-info p {
    font-family: var(--font-secundary);
    font-weight: 400;
    color: #eee;
    width: 80%;
    margin-bottom: 2rem;
}

.btn {
    background: #6a3093;
    background: -webkit-linear-gradient(to left, #c846f0, #6a3093);  
    background: linear-gradient(to left, #c846f0, #6a3093);
    font-family: var(--font-action);
    font-size: .75rem;
    color: #eee;
    border-radius: .5rem;
    box-shadow: 0 0.1rem .8rem rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.card-info button {
    width: 8rem;
    height: 2.5rem;
}

.card-info button:hover {
    color: rgba(218, 154, 146, 0.89);
    transition: all 0.5s;
}

.card:hover .card-info {
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}


@media (max-width: 800px) {
    .projetos {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: 18rem;
        height: 25rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-info {
        width: 60%;
        height: 85%;
        margin-left: .7rem;     
    }

    .card-info h2 {
        font-size: 1.7rem;
    }

    .card-info h3 {
        font-size: 1rem;
        margin-bottom: 0.7rem;
    }

    .card-info p {
        width: 90%;
        margin-bottom: 1rem;
    }

    .card:hover .card-info {
        bottom: 0;
    }

    .card-img-wrapper {
        width: 80%;
        height: 80%;
        background-color: #262626;
        border-radius: .5rem;
        
    }

    .card-img-wrapper img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: .5rem;
        opacity: .8;
        transition: opacity .5s;
    }
}


@media screen and (min-width: 801px) and (max-width: 930px){
    .card {
        margin: 0.1rem;
    }
}


/*=================== CONTATOS ===================*/

.sessao-contato {
    width: 100%;
    height: 100vh;
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato-wrapper {
    width: 70%;
    height: 36rem;
    display: flex;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
}

.contato-left {
    width: 35%;
    background: 
    linear-gradient(rgba(15,15,15, 0.6), rgba(22,22,22, 0.9)),
    url(img/contato.jpg);
    background-size: cover;
}

.contato-right {
    width: 65%;
    background-color: #eee;
    padding: 2rem 3rem 3rem 3rem;
}

.sessao-contato h1 {
    width: 100%;
    text-align: center;
    font-family: var(--font-primary);
    color: #272727;
    font-size: 3rem;
    font-weight: lighter;
    margin-bottom: 2rem;
}

.sessao-contato form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group input {
    font-style: italic;
    font-size: 1.2rem;
    width: 25rem;
}

.input-group {
    position: relative;
}

.field {
    background: transparent;
    border: none;
    width: 20rem;
    font-size: 1.5rem;
    font-family: var(--font-secundary);
    border-bottom: 2px dashed #636363;
    height: 3rem;
    outline: none;
    margin: 1rem 0;
}

.input-group textarea {
    padding-top: 1rem;
    min-width: 25rem;
    max-width: 20rem;
    max-height: 6.5rem;
    font-style: italic;
    font-size: 1.2rem;
}

.field-label {
    position: absolute;
    left: 0;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: var(--font-secundary);
    text-transform: uppercase;
}


/*
 Um modelo diferente que pode ser utilizado sem o placeholder.

.field:focus ~ label {
    top: 0;
    font-size: 1rem;
}

.field:focus {
    border-bottom: 1px solid;
}*/

.btn-submit {
    font-size: 1.1rem;
    text-transform: uppercase;
    width: 60%;
    height: 3rem;
    letter-spacing: 0.2rem;
    margin-top: 2rem;
    box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.4);
}

.btn-submit:hover {
    color: rgba(218, 154, 146, 0.89);
    transition: all 0.5s;
}




@media (max-width: 750px) {
    .contato-wrapper {
        width: 90%;
    }

    .input-group input {
        width: 13rem;
    }

    .input-group textarea {
        min-width: 12rem;
        max-width: 13rem;
    }

    .contato-left {
        width: 40%;
    }

    .contato-right {
        width: 60%;
    }
}

@media screen and (min-width: 751px) and (max-width: 1150px) {

    .contato-wrapper {
        width: 89%;
    }

    .input-group input {
        width: 25rem;
    }

    .input-group textarea {
        min-width: 25rem;
        max-width: 28rem;
    }
}


/*=================== ORÇAMENTO ===================*/


.sessao-orcamento {
    width: 100%;
    height: 100vh;
    background: url(./img//bg-orcamento.jpg);
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.orcamento-wrapper {
    width: 60%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 10px;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
    position: relative;
}

.sessao-orcamento h1 {
    position: absolute;
    top: -2.5rem;
    left: 2rem;
    background: #6a3093;
    background: -webkit-linear-gradient(to left, #c846f0, #6a3093);  
    background: linear-gradient(to left, #c846f0, #6a3093);
    padding: 0 3rem;
    color: white;
    font-family: var(--font-primary);
    font-size: 3rem;
    font-weight: lighter;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.sessao-orcamento form {
    margin: 6rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    row-gap: 3rem;
}

.sessao-orcamento label {
    font-family: var(--font-secundary);
    font-size: 1.5rem;
    font-weight: bold;
}

.sessao-orcamento input[type="number"] {
    font-family: var(--font-secundary);
    font-size: 2rem;
    width: 5.5rem;
    outline: none;
    border-radius: 10px;
    border: none;
    padding: 0.3rem;
}

#preco {
    margin-top: 2.5rem;
}

.btn-orcamento {
    text-transform: uppercase;
    padding: 1rem;
    cursor: pointer;
    grid-column: 2;
    margin-top: 2rem;
}

.btn-orcamento:hover {
    color: rgba(218, 154, 146, 0.89);
    transition: all 0.5s;
}


@media (max-width: 750px) {
    .sessao-orcamento h1 {
        font-size: 1rem;
        padding: 0.3rem 2.8rem;
    }

    .sessao-orcamento form {
        margin: 1rem 1rem;
        row-gap: 2rem;
    }

    .orcamento-wrapper {
        width: 85%;
        height: 75%;
    }

    .sessao-orcamento label {
        font-size: 1rem;
    }

    #preco {
        margin-top: 1rem;
    }

    .btn-orcamento {
        margin-top: 0.3rem;
    }
    
}    

@media screen and (min-width: 751px) and (max-width: 1000px) {
    .sessao-orcamento h1 {
        font-size: 2rem;
        padding: 0.8rem 3.5rem;
    }

    .orcamento-wrapper {
        width: 90%;
        height: 80%;
    }

}


/*=================== FOOTER ===================*/


footer {
    width: 100%;
    height: 7rem;
    background-color: #17181b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.footer-content p {
    font-family: var(--font-secundary);
    color: #a7a7a7;
    font-size: 1.2rem;
}

.social-list a {
    margin: 0 2rem;
    color: #a7a7a7;
    font-size: 1.5rem;
}

.social-list ul {
    display: flex;
}

#link-topo {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 3.5rem;
    height: 3.5rem;
    background: #6a3093;
    background: -webkit-linear-gradient(to left, #c846f0, #6a3093);  
    background: linear-gradient(to left, #c846f0, #6a3093);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: .3rem;
    box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
}

@media (max-width: 800px) {

    .footer-content {
        width: 90%;
        display: flex;
    }
    
    .footer-content p {
        font-size: .7rem; 
    }

    .social-list a {
        font-size: 1rem;
        margin: 0 1rem;
    }

    #link-topo {
        right: 2.5rem;
        bottom: 6rem;
        width: 3rem;
        height: 3rem;
        
    }
}

@media screen and (min-width: 801px) and (max-width: 1270px){
    .footer-content {
        width: 80%;
        display: flex;
    }
}